web/WEB-INF/wsdl/localhost_8080/GarantiasWS/GarantiasWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://garantiasws.proyecto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://garantiasws.proyecto.com/" name="GarantiasWS">
<types>
<xsd:schema>
<xsd:import namespace="http://garantiasws.proyecto.com/" schemaLocation="http://localhost:8080/GarantiasWS/GarantiasWS?xsd=1" />
</xsd:schema>
</types>
<message name="consultaMenuOpciones">
<part name="parameters" element="tns:consultaMenuOpciones" />
</message>
<message name="consultaMenuOpcionesResponse">
<part name="parameters" element="tns:consultaMenuOpcionesResponse" />
</message>
<message name="validaCredenciales">
<part name="parameters" element="tns:validaCredenciales" />
</message>
<message name="validaCredencialesResponse">
<part name="parameters" element="tns:validaCredencialesResponse" />
</message>
<message name="opcionesMetodo">
<part name="parameters" element="tns:opcionesMetodo" />
</message>
<message name="opcionesMetodoResponse">
<part name="parameters" element="tns:opcionesMetodoResponse" />
</message>
<message name="opcionMetodo">
<part name="parameters" element="tns:opcionMetodo" />
</message>
<message name="opcionMetodoResponse">
<part name="parameters" element="tns:opcionMetodoResponse" />
</message>
<message name="enviaMenu">
<part name="parameters" element="tns:enviaMenu" />
</message>
<message name="enviaMenuResponse">
<part name="parameters" element="tns:enviaMenuResponse" />
</message>
<portType name="GarantiasWS">
<operation name="consultaMenuOpciones">
<input wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/consultaMenuOpcionesRequest" message="tns:consultaMenuOpciones" />
<output wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/consultaMenuOpcionesResponse" message="tns:consultaMenuOpcionesResponse" />
</operation>
<operation name="validaCredenciales">
<input wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/validaCredencialesRequest" message="tns:validaCredenciales" />
<output wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/validaCredencialesResponse" message="tns:validaCredencialesResponse" />
</operation>
<operation name="opcionesMetodo">
<input wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/opcionesMetodoRequest" message="tns:opcionesMetodo" />
<output wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/opcionesMetodoResponse" message="tns:opcionesMetodoResponse" />
</operation>
<operation name="opcionMetodo">
<input wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/opcionMetodoRequest" message="tns:opcionMetodo" />
<output wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/opcionMetodoResponse" message="tns:opcionMetodoResponse" />
</operation>
<operation name="enviaMenu">
<input wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/enviaMenuRequest" message="tns:enviaMenu" />
<output wsam:Action="http://garantiasws.proyecto.com/GarantiasWS/enviaMenuResponse" message="tns:enviaMenuResponse" />
</operation>
</portType>
<binding name="GarantiasWSPortBinding" type="tns:GarantiasWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="consultaMenuOpciones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validaCredenciales">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="opcionesMetodo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="opcionMetodo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="enviaMenu">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="GarantiasWS">
<port name="GarantiasWSPort" binding="tns:GarantiasWSPortBinding">
<soap:address location="http://localhost:8080/GarantiasWS/GarantiasWS" />
</port>
</service>
</definitions>